@using System.Text

@if (!User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Register"><span class="fas fa-user">Sign Up</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Login"><span class="fas fa-sign-in-alt">Sign In</span></a>
        </li>

    </ul>
}

else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{
                    var imageBase64 = new StringBuilder();
                    var chunkIndex = 0;
                    while (Context.Request.Cookies.ContainsKey($"image_chunk_{chunkIndex}"))
                    {
                        imageBase64.Append(Context.Request.Cookies[$"image_chunk_{chunkIndex}"]);
                        chunkIndex++;
                    }
                    var userImage = imageBase64.ToString();


                    var imgSrc = "";
                    if (!string.IsNullOrEmpty(userImage))
                    {
                        imgSrc = $"data:image/png;base64,{userImage}";
                        <img src="@imgSrc" alt="User Image" style="width: 40px; height: 40px; border-radius: 50%;" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Uploads/defaultmaleimage.png")" alt="User Image" style="width: 40px; height: 40px; border-radius: 50%;" />

                    }
                }
                <span class="fas fa-user">@User.Identity.Name</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @{
                    var userId = Convert.ToInt32(Context.Request.Cookies["UserId"]);
                }
                <a class="dropdown-item" asp-action="EditUser" asp-controller="Auth" asp-route-id="@userId">Edit Profile</a>
                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Auth">Change Password</a>
                <a class="dropdown-item" asp-controller="Auth" asp-action="Logout"><span class="fas fa-sign-in-alt">Sign Out</span></a>
            </div>
        </li>


    
    </ul>
}