<div class="container ">
    <div class="card mb-3">
        <div class="card-header">
            <h2 class="text-center">Update Contact Reactive Form</h2>
        </div>
        <div class="card-body">
            <div class="position-relative">
                <div *ngIf="loading" class="loader-overlay">
                    <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
                </div>
                <form [formGroup]="contactForm" (ngSubmit)="OnSubmit()">
                    <div class="row">

                        <div class="col-lg-4 mb-3">
                            <label for="name" class="form-label">Name: </label>
                            <input type="text" class="form-control" id="name" formControlName="name" />
                            <div *ngIf="
                  formControl['name'].invalid &&
                  formControl['name'].touched
                ">
                                <small class="text-danger" *ngIf="formControl['name'].errors?.['required']">
                                    First name is required
                                </small>
                                <small class="text-danger" *ngIf="formControl['name'].errors?.['minlength']">
                                    First name must be at least 2 characters
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label for="email" class="form-label">Email: </label>
                            <input type="email" class="form-control" id="email" formControlName="email" />
                            <div *ngIf="
                  formControl['email'].invalid &&
                  formControl['email'].touched
                ">
                                <small class="text-danger" *ngIf="formControl['email'].errors?.['required']">
                                    Email is required
                                </small>
                                <small class="text-danger"
                                    *ngIf="contactForm.controls['email']?.errors?.['email']">Invalid
                                    email
                                    format.</small>

                            </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label for="phoneNumber" class="form-label">Phone: </label>
                            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" />
                            <div *ngIf="
                  formControl['phoneNumber'].invalid &&
                  formControl['phoneNumber'].touched
                ">
                                <small class="text-danger" *ngIf="formControl['phoneNumber'].errors?.['required']">
                                    Phone is required
                                </small>
                                <small class="text-danger" *ngIf="formControl['phoneNumber'].errors?.['minlength']">
                                    Phone number must be 10 digit
                                </small>
                                <small class="text-danger" *ngIf="formControl['phoneNumber'].errors?.['maxlength']">
                                    Phone number must be 10 digit
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label for="company" class="form-label">Company:
                            </label>
                            <input class="form-control" id="company" formControlName="company" />
                            <div *ngIf="
                  formControl['company'].invalid &&
                  formControl['company'].touched
                ">
                                <small class="text-danger" *ngIf="formControl['company'].errors?.['required']">
                                    Company is required
                                </small>
                                <small class="text-danger" *ngIf="formControl['company'].errors?.['minlength']">
                                    Company must be at least 5 characters
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="countryId" class="form-label">Country: </label>
                            <select class="form-control" id="countryId" formControlName="countryId">
                                <option value="">---Select---</option>
                                <option *ngFor="let country of country" [value]="country.countryId">
                                    {{ country.countryName }}
                                </option>
                            </select>
                            <div *ngIf="
                  formControl['countryId'].invalid &&
                  formControl['countryId'].touched
                ">
                                <small class="text-danger"
                                    *ngIf="formControl['countryId'].errors?.['required'] || formControl['countryId'].errors?.['invalidContact']">
                                    Country is required
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="stateId" class="form-label">State: </label>
                            <select class="form-control" id="stateId" formControlName="stateId">
                                <option value="">---Select---</option>
                                <option *ngFor="let state of state" [value]="state.stateId">
                                    {{ state.stateName }}
                                </option>
                            </select>
                            <div *ngIf="
                              formControl['stateId'].invalid &&
                              formControl['stateId'].touched
                            ">
                                <small class="text-danger"
                                    *ngIf="formControl['stateId'].errors?.['required'] || formControl['stateId'].errors?.['invalidContact']">
                                    State is required
                                </small>
                            </div>
                        </div>


                        <div class="col-lg-4 mb-3">
                            <label for="gender" class="form-label">Gender: </label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="male" value="M"
                                        formControlName="gender" />
                                    <label for="male" class="form-label"> Male </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="female" value="F"
                                        formControlName="gender" />
                                    <label for="female" class="form-label">Female </label>
                                </div>
                                <div *ngIf="
                             formControl['gender'].invalid && formControl['gender'].touched
                               ">
                                    <small class="text-danger" *ngIf="formControl['gender'].errors?.['required']">
                                        Gender is required
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="form-label" for="imageByte">Profile Image:</label>
                            <input type="file" class="form-control" id="imageByte" (change)="onFileChange($event)">
                            <small class="text-danger" *ngIf="fileSizeExceeded">
                                Image size cannot be greater than 50KB
                            </small>
                            <small class="text-danger" *ngIf="fileFormatInvalid">
                                Image can only be jpg,png or jpeg
                            </small>
                        </div>
                        <!-- Display the uploaded image with remove button -->
                        <div class="col-lg-4 mb-3" *ngIf="imageUrl">
                            <img [src]="imageUrl" alt="Uploaded Image" class="img-thumbnail"
                                style="max-width: 100px; max-height: 100px;">
                            <button class="btn btn-danger" (click)="removeImage()"><i class="fas fa-times"></i></button>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label for="birthDate" class="form-label">Date of Birth:</label>
                            <input type="date" class="form-control" id="birthDate" formControlName="birthDate" />
                            <div *ngIf="formControl['birthDate'].invalid && formControl['birthDate'].touched">
                                <small class="text-danger"
                                    *ngIf="formControl['birthDate'].errors?.['invalidbirthDate']">
                                    Invalid Birth Date
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-5">
                            <input type="checkbox" class="form-check-input" id="favourite"
                                formControlName="favourite" />
                            <label for="favourite" class="form-label"> Is Favourite? </label>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-secondary update justify-content-center"
                        [disabled]="contactForm.invalid">
                        Update
                    </button>
                    <a class="btn btn-secondary update justify-content-center" [routerLink]="['/contacts-pagination']"
                        routerLinkActive="router-link-active">Back to List</a>

                </form>
            </div>
        </div>
    </div>
</div>
